body{
	font-family: 'Lato', sans-serif;
	background-color: #262626;
	width: 100%;
	height: 100%;
	margin: 0;
    padding: 0;
}

#mainPageForm{
	background-color: white;
	width: 340px;
	margin: 0 auto;
	margin-top: 360px;
	border-radius: 4px;
	padding: 40px;
}

#mainPageForm input{
	font-size: 16px;
	width: 95%;
	margin-bottom: 12px;
	/*display:block; width:100%;padding:0;border-width:0*/
}

::-webkit-input-placeholder {
   font-weight: bold;
   color: #5c5c5c;
   font-size: 14px;
}

:-moz-placeholder { /* Firefox 18- */
   font-weight: bold;  
   color: #5c5c5c;
   font-size: 14px;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-weight: bold;  
   color: #5c5c5c;
   font-size: 14px;
}

:-ms-input-placeholder {  
   font-weight: bold;  
   color: #5c5c5c;
   font-size: 14px;
}

#mainPageForm h2{
	margin-top: 0;
	margin-bottom: 22px;
}

#mainPageForm button{
	font-size: 14px;
	background-color: #e2ad5a;
	width: 100%;
	color: white;
	border-color: transparent;
	margin-top: 18px;
	padding: 4px 0px 4px 0px;
}

.order-table{   
	border-collapse:collapse;
}

.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}

.order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}

.order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}